/* General styles for the body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #36454F;
    font-family: Arial, sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Container for the chat data */
.chat-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  width: 50vw;
  max-width: 50vw;
  height: 70vh;
  max-height: 70vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  height: 100%;
  overflow-y: scroll;
}

.in-out-container {
  width: 100%;
}
  
/* Styles for individual messages */
.message {
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  align-items: center;
  margin-top: 20 px;
  margin-bottom: 0;
}

/* Styles for user messages */
.message.user {
  background-color: #d1e7dd;
}

/* Styles for bot messages */
.message.bot {
  background-color: #add8e6;
}

.chatbot-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin: 15px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  flex-direction: row;
  width: 80%;
}
  
/* Input and button styles */
input[type="text"] {
  width: calc(100% - 60px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e68900;
}

@media (max-width: 1300px){
  .chatbot-title {
    font-size: 3rem;
  }
}

@media (max-width: 1050px){
  .chatbot-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 850px){
  .chatbot-title {
    font-size: 2rem;
  }

  .chat-container {
    width: 80vw;
    max-width: 80vw;
    height: 80vh;
    max-height: 80vh;
  }
}

@media (max-width: 650px){
  .chatbot-title {
    font-size: 1.5rem;
  }

  .chat-container{
    width: 100%;
  }
  .chat-messages-container{
    width: 100%;
    margin: 0;
    padding: 0;
  }

}